.env
.env36
build
dist
config
_test
output
translations

# 生成版本文件
version.txt
VERSION

*.egg-info

*.lib
*.exp
*.ilk
*.pdb
*.dll

!/clibrary/libs/debug/*.dll
!/clibrary/libs/debug/*.lib
!/clibrary/libs/release/*.dll
!/clibrary/libs/release/*.lib


*.pyd
*.exe
*.spec
*.ini
*.pyc
*.rar
*.dat
*.html

# qt
moc_*.h



